<div>
	<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item  ng-repeat="route in routes" md-nav-sref="{{route.state}}" name="{{route.name}}">{{route.name}}</md-nav-item>
      <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
      <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
      <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
      -->
       <md-input-container md-no-float class="md-block navbar-right" style='margin-top: 7px;'>
          <input ng-model="user.address2" placeholder="Поиск">

        </md-input-container>
       <span class="glyphicon glyphicon-search" style='margin-top: 15px;'></span>
        
    </md-nav-bar>
	
</div>
